default:
  seed: 0
  wrapper:
    pipeline: [DiscreteAction, TA, ImageRepresent,OBS]
    DiscreteAction:
      action_scale: 1.0
    ImageRepresent:
      method: simple
    OBS:
      direct_map_key: ["position","open","close","high","low"]
      image_obs_key: ["rgb"]
      vector_obs_key: ["open", "close","high","low"]
      direct_render_key: ["rgb"]
      is_vector2image: true
      vector2image_type: "row"
      image_resize: [64,64]
      cv_interpolate: "area"
    TA:
      ta_args: {
        "ma": {"func": "ma", "key":"open", "window": 3}
      }

  embodied_name: GymTradeEnv
  task_name: us_stock
  embodied:
    GymTradeEnv:
      us_stock:
        csv_root_dir: ""
        init_balance: 100
        commission_type: "futu"
        reward_type: "pnl_delta_sparse"
        obs_keys: ["position","open","close","high","low"]
        stat_keys:
          ["stat_pos", "position", "stat_pnl", "stat_balance", "stat_cash"]
        action_min_thres: 0.1

donchain:
  wrapper.ImageRepresent.method: donchain
  wrapper.TA.ta_args: {
        "high_ma": {"func": "ma", "key":"high", "window": 3},
      }