default:
  seed: 0
  wrapper:
    pipeline: [DiscreteAction, TA, ImageRepresent]
    DiscreteAction:
      action_scale: 1.0
    ImageRepresent:
      method: simple
    OBS:
      direct_map_key: ['all']
      image_obs_key: ["rgb"]
      vector_obs_key: ["open", "close","high","low"]
      direct_render_key: ["rgb"]
      is_vector2image: true
      vector2image_type: "row"
      image_resize: [64,64]
      cv_interpolate: "area"
    TA:
      # ma5: {func: ma, key: close, window: 5}
      break_high: {func: break_high, key: close}
      break_high_or: {func: rolling_op, key: break_high, operation: or, window: 5}
      direction: {func: direction, key: close}
      break_high_or10: {func: rolling_op, key: break_high, operation: or, window: 2}
      trade_curb: {func: trade_curb}
  embodied_name: GymTradeEnv
  task_name: us_stock
  embodied:
    GymTradeEnv:
      us_stock:
        csv_root_dir: ""
        init_balance: 1e6
        commission_type: "free"
        reward_type: "pnl_delta_sparse"
        obs_keys: ["position_ratio","open","close","high","low","timestep","volume"]
        stat_keys:
          ["stat_pos", "position_ratio", "stat_pnl", "stat_balance", "stat_cash"]
        action_min_thres: 0.1
  
  screen:
    pipeline: [new_high, new_volume_high]
    # price_limit:
    #   upper_limit: 100 
    #   lower_limit: 5
    new_high:
      period: 52                          
    new_volume_high:
      period: 7 

breakout5:
  wrapper:
    TA:
      break_high: {func: break_high, key: high}

breakout6:
  wrapper:
    TA:
      break_high: {func: break_high, key: close}
      break_high_or: {func: rolling_op, key: break_high, operation: or, window: 10}

breakout7:
  wrapper:
    TA:
      break_high: {func: break_high, key: close}
      break_high_or: {func: rolling_op, key: break_high, operation: or, window: 8}


